<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="server" value="localhost" />
      <add key="port" value="5432" />
      <add key="user" value="postgres" />
      <add key="password" value="postgres" />
      <add key="database" value="MFD" />
    </appSettings>
</configuration>